@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  height: auto;
}

body, button, input, textarea{
  font-family: 'Roboto';
}

button{
  cursor: pointer;
}