.home_section{
    background-color: #171a25;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.headline{
    color: #fff;

}

.home_div{
    max-width: 25rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
}

.car_input_div{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
}

.car_input{
    margin-top: 0.5rem;
    color: #fff;
    padding: 0.6rem;
    border: solid 0.1rem #FFF;
    border-radius: 0.4rem;
    background-color: transparent;
}


.generate_button{
    grid-column: 2;
    height: 3rem;
    border: none;
    background: #d6ac3a;
    border-radius: 0.5rem;
    transition: 0.2s;
}
.generate_button:hover{
    background: #d8bc6d;
}
.generate_button:active{
    opacity: 0.4;
}

.generated_titles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    max-width: 80rem;
}

.generated_content{
    padding: 1rem;
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    color: #fff;
    gap: 2rem;
}

.tile_headline{
    color: #d6ac3a;
    text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

.item_label{
    color: #b3b3b3;
}

.content{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}